version: '3.3'

services:
   db:
     image: mysql:5.7
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_DATABASE: premise-wp
       MYSQL_ROOT_PASSWORD_FILE: /run/secrets/premise_wp_mysql_root
       MYSQL_USER_FILE: /run/secrets/premise_wp_mysql_user
       MYSQL_PASSWORD_FILE: /run/secrets/premise_wp_mysql_pass
     secrets:
       - premise_wp_mysql_root
       - premise_wp_mysql_user
       - premise_wp_mysql_pass

   wordpress:
     depends_on:
       - db
     image: wordpress:latest
     ports:
       - "8000:80"
     restart: always
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_NAME: premise-wp
       WORDPRESS_DB_USER_FILE: /run/secrets/premise_wp_mysql_user
       WORDPRESS_DB_PASSWORD_FILE: /run/secrets/premise_wp_mysql_pass
     secrets:
       - premise_wp_mysql_user
       - premise_wp_mysql_pass

volumes:
  db_data:
    driver: local

secrets:
  premise_wp_mysql_root:
    file: ./secrets/mysql_root.txt
  premise_wp_mysql_user:
    file: ./secrets/mysql_user.txt
  premise_wp_mysql_pass:
    file: ./secrets/mysql_pass.txt
